main{
    display: flex;
    position: relative;
    align-items: center;
    height: 98vh;
}

.leftarrow{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    opacity: 50%;
    filter: drop-shadow(0px 5px 3px black);
}

.leftarrow:hover{
    opacity: 100%;
    filter: drop-shadow(0px 5px 3px orange);
}


.container{
    background-color: white;
    height: 60vh;
    width: 90%;
    margin: 0 auto;
}