
@keyframes slideInFromabove {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slideInFrombelow {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
}
 
@keyframes fadeIn{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.intro-text h1{
    position: relative;
    width: 100%;
    height: 150px;
    left: 15px;
    animation: 1s ease-out 0s 1 slideInFromabove;

    font-weight: 600;
    font-size: 5vw;
    line-height: 165px;
    flex : 1;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, white,rgba(255, 203, 124, 1));
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
   color: white;
   animation: 1s ease-out 0s 1 slideInFrombelow;

   position: relative;
   text-align: center;
   left: 120px;
   width: 70%;
   font-weight: 500;
    font-size: 2vw;
    line-height: 54px;
    display: flex;
    align-content: center;
    text-align: left;
}


.homecontent{
    display: flex;
    position: relative;
    
    z-index: 1;
    width: 100%;
    
    min-height: 100vh;
    align-items: center;
}

.Profile-picture{
    height: 37vh;
    flex: 1;
    padding: 25px 250px 150px 150px;
    filter: drop-shadow(0px 5px 3px black);
    animation: 1s ease-out 0s 1 fadeIn;
}

.rightarrow{
    position: relative;
    padding-right: 2rem;
    opacity: 50%;
    filter: drop-shadow(0px 5px 3px black);
}

.rightarrow:hover{
    opacity: 100%;
    filter: drop-shadow(0px 5px 3px orange);
}

main{
    position: relative;
    background-image: url("images/homepagebackground.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-height: 100%;
    
}

@media (max-width: 1350px){
    .main-nav a {
    
        color: whitesmoke;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        
        text-decoration: none;
        
    }
    
    .homecontent{
        flex-direction: column;
        overflow: visible;
        align-content: center;
        justify-content: center;
    }

    .Profile-picture{
        height: 25vh;
        flex: 1;
        padding: 10px 150px 50px 150px;
        filter: drop-shadow(0px 5px 3px black);
        animation: 1s ease-out 0s 1 fadeIn;
    }
    .intro-text h1{
        position: relative;
        width: 100%;
        height: 150px;
        left: 5px;
        animation: 1s ease-out 0s 1 slideInFromabove;
    
        font-weight: 600;
        font-size: 30;
        line-height: 120px;
        flex : 1;
        align-items: center;
        text-align: center;
        background: linear-gradient(to right, white,rgba(255, 203, 124, 1));
       
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .intro-text p{
        color: white;
        animation: 1s ease-out 0s 1 slideInFrombelow;
     
        position: relative;
        text-align: center;
        left: 10%;
        width: 70%;
        font-weight: 500;
         font-size: 2vw;
         line-height: 40px;
         display: flex;
         align-content: center;
         text-align: left;
     }
}

